{
    "users": {
        "demo0": {
            "email": "demo0@demo.local",
            "name": "Demoy McDemoface"
        },
        "demo1": {
            "email": "demo1@demo.local",
            "name": "Yomed McDemoface"
        }
    }
}